@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    text-align: center;
    margin: 0;
}

.circle {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #6B6EFF;
    border-radius: 50%;
    border: 1px solid white;
    cursor: move;
}

input#valueX, input#valueY, input#colorHex {
    padding: 8px;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.playground {
    border: 2px solid white;
    width: 600px;
    height: 600px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

code {
    font-size: 14pt;
    background-color: rgb(41, 41, 41);
    padding: 4px;
    border-radius: 4px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: rgb(22, 22, 22);
    color: white;
    text-align: center;
}

p#Y {
    float: left;
    margin-top: 300px;
    margin-left: -15px;
}
